<div data-controller="shared--inputs--text-field-component">
  <% if label.present? %>
    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Full name</label>
  <% end %>
  <div class="relative grid gap-6 md:grid-cols-2">
    <% if leading_icon.present? %>
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <%= inline_svg_tag "#{leading_icon}.svg", class: 'w-5 h-5 text-gray-500' %>
      </div>
    <% end %>
    <input type="text" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 <%= 'pl-10' if leading_icon.present? %>" placeholder="Luke Skywalker">
  </div>
  <%= content_tag :p, hint_text.html_safe, class: 'mt-2 text-sm text-gray-500' if hint_text.present? %>
</div>
